# directories
binaries*
logs*
pdfs*
dot*
stp*

# out files
*.dot
*.stp
*.out
*.eps

# c++ files
srcAG/*.o
srcAG/sensores
srcAG/*.eps
srcAG/*.dat


# vim tmp files
*~
srcAG/*~

#plotting data
plots/*.data
plots/*.png
